body{
    background-color: gray;
    
}
body *{
    color: black;
}
.principal{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.floatleft{
    float: left;
}